[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
munch = "*"
sphinx = "==3.4.3"
sphinx-rtd-theme = "==0.4.3"
sphinx-autodoc-typehints = "*"
doc8 = "*"
buildlib = "==3.0.2"

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
rstcheck = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
