[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
munch = "*"
sphinx = "==4.4.0"
sphinx-rtd-theme = "==1.0.0"
sphinx-autodoc-typehints = "==1.15.3"
doc8 = "*"
buildlib = "==3.0.2"

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
rstcheck = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
